#main-section{
    width: 100%;
    img{
        width: 100%;
        height: 320px;
        &:hover{
            transform: scale(1.5);
            
        }
       
    }
    .collection-info{
        width: 100%;
        height: 320px;
        background-color: black;
        &:hover{
            background-color:#d2aa5c;
           
        }
        
        h2{
            padding:5px;
            margin-bottom:15px;
            text-align: center;
            a{
                font-size: 40px;
                color: white;
                

            }
        }
        & > a{
            background-color: #d2aa5c;
            color:white;
            .fa{
                font-size:15px;
                color:white;
                padding:4px;
                margin-bottom: 5px;
            }

        }
    }

}