#header{
    width: 100%;
    height: 550px;
    position: relative;
    .top_S{
        width: 100%;
        position: absolute;
        z-index: 1;
        .top{
            position: relative;
            width: 100%;
            height: 550px;
            overflow: hidden;
            .slider{
                position: absolute;
                width: 400%;
                left: 0;
                animation: slide 20s linear infinite;
                .slider_item{
                    width: 25%;
                    img{
                        width: 100%;
                        height: 550px;
                        object-fit: cover;
                    }
                }
            &:hover{
                animation-play-state: paused;
                cursor: pointer;
                }
            }
            
        }
    }
 @keyframes slide{
    0%{
        left:0;
    }
    20%{
        left:0;
    }
    25%{
        left:-100%;
    }
    45%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    100%{
        left: -300%;
    }
 }
    .top_Nav{
            width: 100%;
            background-color: transparent;
            position: fixed;
            z-index: 2;
            box-sizing: border-box;
            &:hover{
                    background-color: #6c757d!important;
                    .menu > ul >li {
                                    background-color: white;
                                    border: 1px solid green;
                                    border-radius:40px ;
                                    padding: 5px;
                    }
                    .menu > ul >li>a{
                                    color: black;  
                                    }
     
                    }
    .logo{
        position: absolute;
        width: 100%;
        padding: 5px 20px;
        box-sizing: border-box;
        z-index:100;
        img{
            width:50%;
            height: 80px; 
            font-weight: 800;     
        }     
    }
    }
    .menu  {
        width: 100%;
        box-sizing: border-box;
        & > ul {
           width: 100%;
           height:120px ;
           & >  li{
                   margin-left: 10px; 
                   &:hover{
                             .mega_subm{
                                         transform: scaleY(1);
                                         transform-origin: bottom;
                                         transition: all 1s ease;
                                         top:75px;
                              }
                               .page{
                                transform: scaleY(1);
                                transition: all 1s ease;
                                
                                    
                            }
                   }             
                   & > a{
                         font-size: 17px;
                         color: white;
                         letter-spacing: 0.5px;
                         cursor: pointer;
                         & > span{
                                   margin-left:5px;
                                   font-size: 100%;
                    
                         }
                   } 
                   .mega_subm {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    background-color: white;
                    flex-wrap: wrap;
                    transform: scaleY(0);
                    transform-origin: top;
                    max-height: 475px;
                    h3{
                        color: #d2aa5c;
                        font-size: 12px;
                        font-weight: 900;
                        text-transform: uppercase;
                        text-align: center;
                        margin:30px;
                    }
                     ul {
                        width: 100%;
                        li{
                            margin:14px 0;
                            text-align: center;
                            a{
                                color: gray;
                            }
                        
                        }
                        
                    }
                    .sub_menu_img{
                        width: 95%;
                        height: 250px;
                        box-sizing: border-box;
                        padding: 10px 10px;
                        img{
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                            border: 1px solid grey;
                        }
                    }
                    .ring{
                        width: 100%;
                        padding: 20px 5px 10px 5px;
                        box-sizing: border-box;
                        img{
                            width: 110%;
                            height: 180px;
                            object-fit: cover;
                            margin-top:20px;
                            
                        }
                        h1{
                            font-size: 20px;
                            color:#d2aa5c;
                            font-weight: 900;
                            letter-spacing: 1px;
                            text-transform: uppercase;
                        }
                    } 
                    .necklace{
                        width: 100%;
                        height: 300px;
                        box-sizing: border-box;
                        padding: 25px 10px;
                        margin-right: 10px;
                        img{
                            width: 100%;
                            height: 200px;
                            object-fit: cover;
                            border: 1px solid grey;
                          }
                        
                      }  
                    } 
                    .page{
                        position: absolute;
                        box-sizing: border-box;
                        left:0;
                        top:30px;
                        width: 160px;
                        padding: 10px 0;
                        background-color: white;
                        transform: scaleY(0);
                        transform-origin: top;
                        li{
                          padding: 10px 10px;
                          transition:all 1s;
                          a{
                              color: black;
                              text-align: center;
                              &:hover{
                                  color:#d2aa5c ;
                                  text-decoration: underline;  
                              }
                          }
                        }
                    }   
                }   
        }
        a:hover{
            color:#d2aa5c ;
            transition: 0.5s;
            
        }      
    } 
    .search{
        width: 100%;
        box-sizing: border-box;
        & > ul{
            height: 120px;
            justify-content:flex-end;
            margin-right: 15px;
            & >li{
                margin-right: 10px;
                box-sizing: border-box;
                position: relative;
                &:hover{
                    .counter{
                        background-color: black; 
                        color: white;
                      }
                      .choosen{
                        transform: scaleX(1);
                        transition: 0.7s;
                      }
                      .src{
                        transform: scaleX(1);
                        transition: 0.7s;
                      }
                      .money{
                        transform: scaleY(1);
                        transition: 0.5s;
                      }
                      .user{
                        transform: scaleX(1);
                        transition: 0.5s;
                    }
    
                }
                span{
                    margin-left: 10px;
                } 
                & > a {
                    font-size: 18px;
                    color: white;
                    &:hover{
                        color: #d2aa5c;  
                    }
                }
            }
        }
        .counter{
            display: block;
            position: absolute;
            top: -10px;
            left: 5px;
            background-color:#d2aa5c ;
            border-radius: 50%;
            padding: 3px;
            font-size: 10px;
            color: white;
        }
        .choosen{
            position: absolute;
            width: 320px;
            background-color: white;
            right:0;
            padding:10px 5px;
            transform: scaleX(0);
            transform-origin: right;
            p{
                text-align: start;
                font-size: 15px;
                margin-left: 10px;
            }
        }
        .src{
            position: absolute;
            width: 250px;
            background-color: white;
            right:0;
            transform: scaleX(0);
            transform-origin: right;
            justify-content: end;
            input{
                width: 100%;
                box-sizing: border-box;
                padding: 10px; 
            }
        }
        .money{
            position: absolute;
            width: 70px;
            background-color:white;
            transform: scaleY(0);
            transform-origin: top;
            li{
                padding: 10px 0;
                width: 100%;
                text-align: center;
                &:hover{
                    background-color: blue;
                    transition: 0.5s;
                   }
                a{
                    color:black;
                    font-size: 18px ;
                    
                }
            
            } 
        }
        .user{
            width: 200px;
            position: absolute;
            right: 0;
            background-color: white;
            transform: scaleX(0);
            transform-origin: right;
            li{
                padding: 10px;
               box-sizing: border-box;
               margin: 5px;
               a{
                color: black; 
                &:hover{
                    color:#d2aa5c;
                    transition: all 1s ease;
                } 
            }
           }
           
        }
    }
}   