.UpdateUser{
   background-color: gray; 
   position: absolute;
   top:50px;
   left:0;
   box-sizing: border-box;
   padding:10px;
   display: none;
   transition: 1s;
   label{
       color:white;
   }
   

}