{% extends 'layout.html'%}


{% block content %}
{% include 'common/header.html'%}

<section id="product">
    <div class="text-center h4 py-5  m-3 bgcolor2 ">SELECTED PRODUCT ITEM</div>
    <div class="container-ow">
        <div class="row-ow flex">
            <div class="col-ow-6 flex flex-dir-column ">
                <div class="bigImage flex jus-con-cen">
                   <div class="zoom"></div>
                   
                </div>
                <div class="subImage flex ">
                    <img  src="{{url_for('static', filename='images/newarr5.jpg')}}" alt="">
                    <img  src="{{url_for('static', filename='images/newarr6.jpg')}}" alt="">
                </div>
            </div>
            <div class="col-ow-6 flex flex-dir-column">
                <div class="Product_info">
                    <h1>Amor Solitaire Ring Mount</h1>
                <span class="active">$900.00</span>
                <div class="stars">
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span>1 review</span>

                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat...</p>
                 <div class="Product_detail">
                     <p class="flex jus-con-betws">
                         <label>Brand:</label>
                         <span>Tradino</span>
                     </p>
                     <p class="flex jus-con-betws">
                        <label>Movement:</label>
                        <span>Bangles</span>
                    </p>
                    <p class="flex jus-con-betws">
                        <label>Availability:</label>
                        <span><font style="color:green">Many In Stock</font></span>
                    </p>
                    <p class="size flex ">
                        <label>Size:</label>
                        <span class="active_border">2.5</span>
                        <span>3.5</span>
                        <span>4.5</span>
                    </p>
                    <p class=" material flex jus-con-betws">
                        <label>MATERIAL:</label>
                        <span class="active_border">Copper</span>
                    </p>
                    <p class=" quantity flex ">
                        <label>Quantity:</label>
                        <span>-</span>
                        <span>1</span>
                        <span>+</span>
                    </p>
                    <p class="total flex jus-con-betws">
                        <label>Total:</label>
                        <span class="active ">$50.00</span>
                    </p>
                 </div>
                 <div class="product_btn flex flex-wrap">
                     <div class="btn btn-primary ">ADD TO CART</div>
                     <div class="btn btn-dark">BUY IT NOW</div>
                     <div class="btn btn-dark">ADD TO WISHLIST</div>
                 </div>
                </div>
                
            </div>
        </div>
        <div class="row-ow">
            
        </div>
        
    </div>

    </div>



</section>


{% include 'common/footer.html'%}


{% endblock content %}