{% extends 'layout.html'%}


{% block content %}
{% include 'common/header.html'%}

<section id="product">
    <div class="text-center h4 py-5  m-3 bgcolor2 ">SELECTED PRODUCT CATEGORY</div>
    <div class="container-ow flex jus-con-betws">
        <div class="col-ow-3">
            <div class="navBar flex flex-dir-column ml-3 mt-5">
                <div class="col-ow-12 ">
                    <h1>Category</h1>
                    <ul class="ml-3 mt-3">
                        <li><a href="">Braslate</a> <span>+</span></li>
                        <li><a href="">Bangles</a></li>
                        <li><a href="">Rings</a> <span>+</span> </li>
                        <li><a href="">Necklace Set</a> <span>+</span> </li>
                        <li><a href="">Bridal Set</a></li>
                    </ul>
                </div>
                <div class="col-ow-12 ">
                    <h1>Shop By Size</h1>
                    <ul class=" Size ml-3 mt-3 flex flex-wrap ">
                        <li><a href="">2</a></li>
                        <li><a href="">3</a></li>
                        <li><a href="">4</a></li>
                        <li><a href="">5</a></li>
                        <li><a href="">6</a></li>
                        <li><a href="">2.2</a></li>
                        <li><a href="">2.3</a></li>
                        <li><a href="">2.5</a></li>
                    </ul>
                </div>
                <div class="col-ow-12 ">
                    <h1>Shop By Brand</h1>
                    <ul class="ml-3 mt-3">
                        <li><a href="">Croces</a></li>
                        <li><a href="">Caratlane</a></li>
                        <li><a href="">Glamr</a></li>
                        <li><a href="">Tradino</a></li>
                        <li><a href="">Nakshi</a></li>
                        <li><a href="">Maribel</a></li>
                        <li><a href="">Latika</a></li>


                    </ul>
                </div>
                <div class="col-ow-12 ">
                    <h1>Shop By Price</h1>
                    <ul class="ml-3 mt-3">
                        <li><a href="">$100-$200</a></li>
                        <li><a href="">$200-$300</a></li>
                        <li><a href="">$400-$500</a></li>
                        <li><a href="">$500-$600 </a></li>
                        <li><a href="">$700-$800 </a></li>
                    </ul>
                </div>
                <div class="col-ow-12 ">
                    <h1>Shop By Material</h1>
                    <ul class="ml-3 mt-3">
                        <li><a href="">Titanium</a></li>
                        <li><a href="">Gold</a></li>
                        <li><a href="">Platinium</a> </li>
                        <li><a href="">Silicone</a></li>
                        <li><a href="">Bronze</a></li>
                        <li><a href="">Copper</a></li>
                        <li><a href="">White Gold</a></li>
                    </ul>
                </div>
                <div class="col-ow-12 ">
                    <h1>Shop By Type</h1>
                    <ul class="ml-3 mt-3">
                        <li><a href="">Rings</a></li>
                        <li><a href="">Bangles</a></li>
                        <li><a href="">Necklace</a> </li>
                        <li><a href="">Earrings</a></li>
                        <li><a href="">Braclate</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-ow-8">
            <div class="product_lists flex flex-dir-column">
                <div class="row-ow flex jus-con-betws">
                    <div class="btnProductList flex  ">
                        <i class="fa fa-th-large"></i>
                        <i class="fa fa-list-alt"></i>

                    </div>
                    <div class="product_filter flex flex-end ">
                        <h4>Sort by</h4>
                        <ul>
                            <li class="flex jus-con-betws">
                                <a href="#">Featured</a>
                                <span><i class="fa fa-chevron-down"></i></i></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row-ow flex flex-wrap ">
                    <div class="col-ow-3 m-4">
                        <div class="left-item">
                            <div class="img-frame">
                                <img src="{{url_for('static', filename='images/newarr5.jpg')}}" alt="">
                            </div>
                            <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                                <a href="">Amor Solitaire Ring Mount</a>
                                <p>Brand:Crocs</p>
                                <span>$700.00</span>
                                <div class="stars">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-ow-3 m-4">
                        <div class="left-item">
                            <div class="img-frame">
                                <img src="{{url_for('static', filename='images/newarr5.jpg')}}" alt="">
                            </div>
                            <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                                <a href="">Amor Solitaire Ring Mount</a>
                                <p>Brand:Crocs</p>
                                <span>$700.00</span>
                                <div class="stars">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-ow-3 m-4">
                        <div class="left-item">
                            <div class="img-frame">
                                <img src="{{url_for('static', filename='images/newarr5.jpg')}}" alt="">
                            </div>
                            <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                                <a href="">Amor Solitaire Ring Mount</a>
                                <p>Brand:Crocs</p>
                                <span>$700.00</span>
                                <div class="stars">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-ow-3 m-4">
                        <div class="left-item">
                            <div class="img-frame">
                                <img src="{{url_for('static', filename='images/newarr5.jpg')}}" alt="">
                            </div>
                            <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                                <a href="">Amor Solitaire Ring Mount</a>
                                <p>Brand:Crocs</p>
                                <span>$700.00</span>
                                <div class="stars">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-ow-3 m-4">
                        <div class="left-item">
                            <div class="img-frame">
                                <img src="{{url_for('static', filename='images/newarr5.jpg')}}" alt="">
                            </div>
                            <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                                <a href="">Amor Solitaire Ring Mount</a>
                                <p>Brand:Crocs</p>
                                <span>$700.00</span>
                                <div class="stars">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </div>

    </div>



</section>


{% include 'common/footer.html'%}


{% endblock content %}