{% extends 'layout.html'%}


{% block content %}
{% include 'common/header.html'%}

<section id="product">
    <div class="text-center h4 py-5  m-3 bgcolor2 ">SELECTED PRODUCT ITEM</div>
    <div class="container-ow">
        <div class="row-ow flex">
             {% if data %}
            
            
            
            
            <div class="col-ow-6 flex flex-dir-column ">
                <div class="bigImage flex jus-con-cen" style="background-image: url( {{url_for('static', filename='photo/'+ data.ProductImage_1 )}}) ;">
                    
                   <div class="zoom" style="background-image: url( {{url_for('static', filename='photo/'+ data.ProductImage_1 )}}) ;"></div>
                   
                </div>
                <div class="subImage flex ">
                    <img  src="{{url_for('static', filename='photo/'+ data.ProductImage_1 )}}" alt="">
                    <img  src="{{url_for('static', filename='photo/'+ data.ProductImage_2 )}}" alt="">
                </div>
            </div>
            <div class="col-ow-6 flex flex-dir-column">
                <div class="Product_info">
                    <h1>{{data.ProductName}}</h1>
                <span class="active">${{data.Price}}</span>
                <div class="stars">
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span><i class="fa fa-star"></i></span>
                    <span>1 review</span>

                </div>
                <p>{{data.ProductInfo}}</p>
                 <div class="Product_detail">
                     <p class="flex jus-con-betws">
                         <label>Brand:</label>
                         <span>{{data.brand_id}}</span>
                     </p>
                     <p class="flex jus-con-betws">
                        <label>Movement:</label>
                        <span>{{data.cat_id}}</span>
                    </p>
                    <p class="flex jus-con-betws">
                        <label>Availability:</label>
                        <span><font style="color:green">{{data.Stock}}</font></span>
                    </p>
                    <p class="size flex ">
                        <label>Size:</label>
                        <span class="active_border">{{data.Size}}</span>
                        <span>3.5</span>
                        <span>4.5</span>
                    </p>
                    <p class=" material flex jus-con-betws">
                        <label>MATERIAL:</label>
                        <span class="active_border">{{data.Material}}</span>
                    </p>
                    <p class=" quantity flex ">
                        <label>Quantity:</label>
                        <span>-</span>
                        <span>1</span>
                        <span>+</span>
                    </p>
                    <p class="total flex jus-con-betws">
                        <label>Total:</label>
                        <span class="active ">${{data.Price}}</span>
                    </p>
                    <p class=" material flex jus-con-betws">
                        <label>Phone Number:</label>
                        <span class="active_border">+994{{data.user.Phone}}</span>
                    </p>
                 </div>
                 <div class="product_btn flex flex-wrap">
                     <div class="btn btn-primary ">ADD TO CART</div>
                     <div class="btn btn-dark">BUY IT NOW</div>
                     <div class="btn btn-dark">ADD TO WISHLIST</div>
                 </div>
                </div>
                
            </div>
            {% endif  %}
        </div>
        <div class="row-ow">
            
        </div>
        
    </div>

    </div>



</section>


{% include 'common/footer.html'%}


{% endblock content %}