/*  Grid System */
.cont {
    width: 1320px;
    margin: 0 auto;
}

.cont-fluid {
    width: 30%;
    color:red;
    background-color: green;
    

}

.row {
    padding: 0px 5px;
    width: 100%;
    box-sizing: border-box;
}


/* class adi col- ile baslayan butun class-lar (https://www.w3schools.com/css/css_attribute_selectors.asp) */

[class^="col-"] {
    box-sizing: border-box;
   
}

.col-1 {
    width: calc(100%/12*1)
}

.col-2 {
    width: calc(100%/12*2)
}

.col-3 {
    width: calc(100%/12*3)
}

.col-4 {
    width: calc(100%/12*4)
}

.col-5 {
    width: calc(100%/12*5)
}

.col-6 {
    width: calc(100%/12*6)
}

.col-7 {
    width: calc(100%/12*7)
}

.col-8 {
    width: calc(100%/12*8)
}

.col-9 {
    width: calc(100%/12*9)
}

.col-10 {
    width: calc(100%/12*10)
}

.col-11 {
    width: calc(100%/12*11)
}

.col-12 {
    width: calc(100%/12*12)
}

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}

.jus-con-betws {
    justify-content: space-between;
}
.jus-con-cen{
    justify-content:center
}
.align-items-center {
    align-items: center;
}
.box-sz-b_box{
    box-sizing: border-box;
}

.display_block{
        display: block;
 }
 .fontSize{
    font-size: 18px;
}
.letter_Spc{

    letter-spacing: 1px;
}
