/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a:hover {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.boxSz_BorBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bgcolor {
  background-color: #6c757d;
}

.bgcolor2 {
  background-color: #f4f4f4;
}

.overflow {
  overflow: hidden;
}

.display_block {
  display: block;
}

.active {
  color: #d2aa5c;
  text-decoration: none;
}

.position-rel {
  position: relative;
}

.position-abs {
  position: absolute;
}

.position-fix {
  position: fixed;
}

.box {
  overflow: hidden;
}

.border {
  border: 1px solid red;
}

.container-ow {
  width: 1320px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
}

.row-ow {
  padding: 0 5px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* class adi col- ile baslayan butun class-lar */
[class^="col-"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-ow-1 {
  width: calc(100%/12*1);
}

.col-ow-2 {
  width: calc(100%/12*2);
}

.col-ow-3 {
  width: calc(100%/12*3);
}

.col-ow-4 {
  width: calc(100%/12*4);
}

.col-ow-5 {
  width: calc(100%/12*5);
}

.col-ow-6 {
  width: calc(100%/12*6);
}

.col-ow-7 {
  width: calc(100%/12*7);
}

.col-ow-8 {
  width: calc(100%/12*8);
}

.col-ow-9 {
  width: calc(100%/12*9);
}

.col-ow-10 {
  width: calc(100%/12*10);
}

.col-ow-11 {
  width: calc(100%/12*11);
}

.col-ow-12 {
  width: calc(100%/12*12);
}

.m-t {
  margin: 10px 10px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-dir-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.jus-con-betws {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jus-con-cen {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jus-con-arround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-it-cen {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*general style*/
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
}

#header {
  width: 100%;
  height: 550px;
  /*Slider codes*/
  /*Naviqation codes*/
}

#header .top_S {
  width: 100%;
  z-index: 1;
}

#header .top_S .top {
  width: 100%;
  height: 550px;
  overflow: hidden;
}

#header .top_S .top .slider {
  width: 400%;
  left: 0;
  -webkit-animation: slide 20s linear infinite;
          animation: slide 20s linear infinite;
}

#header .top_S .top .slider .slider_item {
  width: 25%;
}

#header .top_S .top .slider .slider_item img {
  width: 100%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

#header .top_S .top .slider:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
  cursor: pointer;
}

@-webkit-keyframes slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

@keyframes slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  100% {
    left: -300%;
  }
}

#header .top_Nav {
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 1000;
  /*hover action*/
  /*logo codes*/
  /*menu codes*/
  /*search/basket/users/money codes*/
}

#header .top_Nav:hover {
  background-color: #6c757d !important;
}

#header .top_Nav:hover .menu > ul > li {
  background-color: #fff;
  border-radius: 40px;
  padding: 5px;
  margin-right: 10px;
}

#header .top_Nav:hover .menu > ul > li > a {
  color: #000;
}

#header .top_Nav:hover .logo > a > font {
  color: #fff !important;
}

#header .top_Nav .logo {
  width: 100%;
  padding: 5px 20px;
  z-index: 100;
  margin-bottom: 15px;
}

#header .top_Nav .logo a {
  font-size: 20px;
}

#header .top_Nav .menu {
  width: 100%;
}

#header .top_Nav .menu > ul {
  width: 100%;
  height: calc(550px/ 5 + 10px);
}

#header .top_Nav .menu > ul > li {
  margin-left: 0px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#header .top_Nav .menu > ul > li:hover .mega_subm {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  top: 77px;
}

#header .top_Nav .menu > ul > li:hover .page {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#header .top_Nav .menu > ul > li > a {
  font-size: calc(16px + 1px);
  color: #fff;
  letter-spacing: 0.5px;
  cursor: pointer;
}

#header .top_Nav .menu > ul > li > a > span {
  margin-left: 5px;
}

#header .top_Nav .menu > ul > li .mega_subm {
  width: 100%;
  left: 0;
  background-color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  max-height: 550px;
}

#header .top_Nav .menu > ul > li .mega_subm h3 {
  color: #d2aa5c;
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  margin: 30px;
}

#header .top_Nav .menu > ul > li .mega_subm ul {
  width: 100%;
}

#header .top_Nav .menu > ul > li .mega_subm ul li {
  margin: 14px 0;
  text-align: center;
}

#header .top_Nav .menu > ul > li .mega_subm ul li a {
  color: gray;
}

#header .top_Nav .menu > ul > li .mega_subm ul li a:hover {
  color: #d2aa5c;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#header .top_Nav .menu > ul > li .mega_subm .sub_menu_img {
  width: 95%;
  height: 250px;
  padding: 10px 10px;
}

#header .top_Nav .menu > ul > li .mega_subm .sub_menu_img img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid grey;
}

#header .top_Nav .menu > ul > li .mega_subm .ring {
  width: 100%;
  padding: 20px 5px 10px 5px;
}

#header .top_Nav .menu > ul > li .mega_subm .ring img {
  width: 110%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 20px;
}

#header .top_Nav .menu > ul > li .mega_subm .ring h1 {
  font-size: 20px;
  color: #d2aa5c;
  font-weight: 900;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .top_Nav .menu > ul > li .mega_subm .necklace {
  width: 100%;
  height: 300px;
  padding: 25px 10px;
  margin-right: 10px;
}

#header .top_Nav .menu > ul > li .mega_subm .necklace img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid gray;
}

#header .top_Nav .menu > ul > li .page {
  left: 0;
  top: 33px;
  width: 160px;
  padding: 10px 0;
  background-color: #fff;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}

#header .top_Nav .menu > ul > li .page li {
  padding: 10px 10px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#header .top_Nav .menu > ul > li .page li:hover {
  background-color: #cccccc;
}

#header .top_Nav .menu > ul > li .page li a {
  color: #000;
  text-align: center;
}

#header .top_Nav .menu > ul > li .page li a:hover {
  color: #d2aa5c;
  text-decoration: underline;
}

#header .top_Nav .menu a:hover {
  color: #d2aa5c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header .top_Nav .search {
  width: 100%;
}

#header .top_Nav .search > ul {
  height: 120px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 15px;
}

#header .top_Nav .search > ul > li {
  margin-right: 10px;
}

#header .top_Nav .search > ul > li:hover .counter {
  background-color: #000;
  color: #fff;
}

#header .top_Nav .search > ul > li:hover .choosen {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

#header .top_Nav .search > ul > li:hover .money {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header .top_Nav .search > ul > li:hover .user {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header .top_Nav .search > ul > li span {
  margin-left: 10px;
}

#header .top_Nav .search > ul > li > a {
  font-size: calc(16px + 2px);
  color: #fff;
}

#header .top_Nav .search > ul > li > a:hover {
  color: #d2aa5c;
}

#header .top_Nav .search .counter {
  display: block;
  top: -10px;
  left: 5px;
  background-color: #d2aa5c;
  border-radius: 50%;
  padding: 3px;
  font-size: calc(8px + 2px);
  color: #fff;
}

#header .top_Nav .search .choosen {
  width: 250px;
  background-color: #fff;
  right: 0;
  padding: 10px 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
}

#header .top_Nav .search .choosen p {
  text-align: start;
  font-size: calc(12px+1px);
  margin-left: 10px;
}

#header .top_Nav .search .money {
  width: 70px;
  background-color: #d8dbdd;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
}

#header .top_Nav .search .money li {
  padding: 10px 0;
  width: 100%;
  text-align: center;
}

#header .top_Nav .search .money li:hover {
  background-color: #d2aa5c;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#header .top_Nav .search .money li a {
  color: #000;
  font-size: calc(16px + 2px);
}

#header .top_Nav .search .user {
  width: 200px;
  right: 0;
  background-color: #fff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  margin-top: -5px;
}

#header .top_Nav .search .user li {
  padding: 10px;
  margin: 5px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#header .top_Nav .search .user li:hover {
  border: 1px solid gray;
  background-color: #ddbf84;
}

#header .top_Nav .search .user li a {
  color: #000;
}

#header .top_Nav .search .user li a:hover {
  color: #fff;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/*Search layout codes*/
#search_layout {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

#search_layout .close {
  margin: 20px;
}

#search_layout .close a {
  font-size: 48px;
  font-weight: 900;
  color: #000;
}

#search_layout .search {
  width: 50%;
  height: 80px;
  border-bottom: 2px solid #000;
  margin-top: 30vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#search_layout .search input[type="search"] {
  width: 100%;
  border: hidden !important;
  background-color: inherit;
  font-size: 20px;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

#search_layout .search input[type="search"]:focus {
  outline: none;
  background-color: transparent !important;
}

#search_layout a {
  font-size: 32px;
  color: #000;
  margin-left: 10px;
  cursor: pointer;
}

/*End of Search layout codes*/
/*Scroll UP codes*/
#btnScrTop {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  color: #fff;
  background-color: red;
  display: none;
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 10000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

/*ENd Scroll UP codes*/
#main-section {
  width: 100%;
}

#main-section img {
  width: 100%;
  height: 320px;
}

#main-section img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#main-section .collection-info {
  width: 100%;
  height: 320px;
  background-color: #000;
}

#main-section .collection-info:hover {
  background-color: #d2aa5c;
}

#main-section .collection-info h2 {
  padding: 5px;
  margin-bottom: 15px;
  text-align: center;
}

#main-section .collection-info h2 a {
  font-size: 40px;
  color: #fff;
}

#main-section .collection-info > a {
  background-color: #d2aa5c;
  color: #fff;
}

#main-section .collection-info > a .fa {
  font-size: calc(16px + 1px);
  color: #fff;
  padding: 4px;
  margin-bottom: 5px;
}

#newArr {
  width: 100%;
}

#newArr .newArr_head {
  width: 100%;
  height: 160px;
  margin-top: 30px;
  letter-spacing: 2px;
}

#newArr .newArr_head h1 {
  font-size: 52px;
  margin: 20px 0;
}

#newArr .left-item {
  width: 100%;
  min-height: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

#newArr .left-item .left-overlay {
  width: 100%;
  height: 213.33333px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

#newArr .left-item .left-overlay i {
  background-color: #e6e6e6;
  margin: 2px;
  padding: 10px;
}

#newArr .left-item:hover .item-detail a {
  color: #d2aa5c;
}

#newArr .left-item .img-frame img {
  width: 100%;
  height: 213.33333px;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

#newArr .left-item .img-frame:hover .left-overlay {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#newArr .left-item .item-detail {
  cursor: pointer;
}

#newArr .left-item .item-detail a,
#newArr .left-item .item-detail p {
  color: #000;
  margin: 5px;
}

#newArr .left-item .item-detail span {
  color: #b3b3b3;
  margin: 5px;
}

#newArr .left-item .item-detail .stars > span {
  color: #000;
  margin: 0px;
}

#newArr .right-item {
  width: 100%;
  margin: 10px;
}

#newArr .right-item:hover .item-detail a {
  color: #d2aa5c;
}

#newArr .right-item .img-frame {
  position: relative;
}

#newArr .right-item .img-frame:hover .right-overlay {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
  transform: scaleX(1);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#newArr .right-item .img-frame img {
  width: 100%;
  height: 480px;
  -o-object-fit: cover;
     object-fit: cover;
}

#newArr .right-item .img-frame .right-overlay {
  width: 100%;
  height: 213.33333px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

#newArr .right-item .item-detail {
  cursor: pointer;
}

#newArr .right-item .item-detail a,
#newArr .right-item .item-detail p {
  color: #000;
  margin: 5px;
}

#newArr .right-item .item-detail span {
  color: #b3b3b3;
  margin: 5px;
}

#newArr .right-item .item-detail .stars > span {
  color: #000;
  margin: 0px;
}

#newArr .right-item .detail-right {
  margin-top: 10px;
  cursor: pointer;
}

#newArr .right-item .detail-right i {
  font-size: 40px;
}

#newArr .foot_item {
  width: 100%;
  height: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

#newArr .foot_item:hover .overlay {
  top: 0;
  left: -160px;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
}

#newArr .foot_item img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

#newArr .foot_item .foot_item_info {
  position: absolute;
  top: 30%;
  left: 50px;
  z-index: 5;
}

#newArr .foot_item .foot_item_info h3 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #fff;
  letter-spacing: 2px;
}

#newArr .foot_item .foot_item_info h1 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #fff;
  letter-spacing: 2px;
}

#newArr .foot_item .foot_item_info p {
  font-size: 12px;
  margin: 10px 0;
  color: #fff;
  letter-spacing: 2px;
}

#newArr .foot_item .foot_item_info a {
  font-size: 16px;
  margin-top: 20px;
  color: #fff;
  letter-spacing: 2px;
}

#newArr .foot_item .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 150%;
  height: 320px;
  position: absolute;
  top: 0;
  left: -1000px;
  -webkit-transform: skewX(-45deg);
          transform: skewX(-45deg);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 3;
}

#RareCollections {
  width: 100%;
}

#RareCollections .RareCollections_head {
  width: 100%;
  height: 160px;
  margin-top: 30px;
  letter-spacing: 2px;
}

#RareCollections .RareCollections_head h1 {
  font-size: 52px;
  margin: 20px 0;
}

#RareCollections .rare_item {
  width: 100%;
  height: 320px;
  position: relative;
}

#RareCollections .rare_item:hover .rare_overlay {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform-origin: top;
          transform-origin: top;
}

#RareCollections .rare_item img {
  width: 100%;
  height: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}

#RareCollections .rare_item .rare_overlay {
  position: absolute;
  top: 0;
  left: 10px;
  background-color: rgba(128, 128, 128, 0.5);
  width: calc(100% - 20px);
  height: 320px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#RareCollections .rare_item .rare_overlay a {
  background-color: #fff;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
}

#footer {
  width: 100%;
  height: 400px;
  background-color: #fafafa;
  margin-top: 100px;
}

#footer .footer-info {
  padding: 20px 10px;
  margin-top: 40px;
}

#footer .footer-info p {
  text-align: center;
}

#footer .list_item {
  margin: 5px;
}

#footer .list_item i {
  border: 1px solid gray;
  padding: 12px;
}

#footer .list_item i:hover {
  background-color: #d2aa5c;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

#footer .footer_copyright {
  width: 100%;
  height: 70px;
  background-color: #000;
  margin-top: 30px;
}

#footer .footer_copyright h1 {
  font-size: 16px;
  color: #fff;
  margin-left: 15px;
}

#footer .footer_copyright h1 a {
  color: #fff;
  margin-left: 2px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#footer .footer_copyright h1 a:hover {
  color: #d2aa5c;
  text-decoration: none;
}

#footer .payment {
  margin-right: 20px;
}

#footer .payment a {
  color: #fff;
}

#footer .payment a i {
  font-size: 36px;
  margin: 5px;
}

#footer .payment a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#collection {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 60px;
}

#collection .collection_items {
  width: 100%;
  min-height: 550px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#collection .collection_items .collection_img {
  width: 100%;
  height: 440px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  cursor: pointer;
}

#collection .collection_items .collection_img:hover .collection_overlay {
  visibility: visible;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#collection .collection_items .collection_img img {
  width: 100%;
  height: 440px;
  -o-object-fit: cover;
     object-fit: cover;
}

#collection .collection_items h1 {
  font-size: 24px;
  width: 100%;
  text-align: center;
  padding: 10px 0px;
}

#collection .collection_items a {
  letter-spacing: 1px;
  color: #000;
}

#collection .collection_items a:hover {
  color: #d2aa5c;
  cursor: pointer;
}

#collection .collection_overlay {
  position: absolute;
  width: 100%;
  height: 440px;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.9) 100%);
  z-index: 2;
  visibility: hidden;
  cursor: pointer;
}

#collection .collection_overlay span {
  font-size: 40px;
  color: #fff;
}

#collection .collection_overlay h2 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=style.css.map */