{% extends 'layout.html' %}

{% block content %}

<section id="main-section">
    <div class="container-ow ">
        <div class="row-ow flex ">
            <div class="col-ow-3">
                <div class="box"><img src="{{url_for('static', filename='images/main1.jpg')}}" alt=""></div>
            </div>
            <div class="col-ow-3">
                <div class="collection-info flex flex-dir-column jus-con-cen align-items-center">
                    <h2><a href="#">Just Launched</a></h2>
                    <a href="#" class='btn'>WIEW DETAILS<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-ow-3">
                <div class="box"><img src="{{url_for('static', filename='images/main2.jpg')}}" alt=""></div>
            </div>
            <div class="col-ow-3">
                <div class="collection-info flex flex-dir-column jus-con-cen align-items-center">
                    <h2><a href="#">Best Summer Sale</a></h2>
                    <a href="#" class='btn'>WIEW DETAILS<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row-ow flex">
            <div class="col-ow-3">
                <div class="collection-info flex flex-dir-column jus-con-cen align-items-center">
                    <h2><a href="#">Necklaces</a></h2>
                    <a href="#" class='btn'>WIEW DETAILS<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-ow-3">
                <div class="box"><img src="{{url_for('static', filename='images/main3.jpg')}}" alt=""></div>
            </div>
            <div class="col-ow-3">
                <div class="collection-info flex flex-dir-column jus-con-cen align-items-center">
                    <h2><a href="#">Diamond Chain</a></h2>
                    <a href="#" class='btn'>WIEW DETAILS<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-ow-3">
                <div class="box"><img src="{{url_for('static', filename='images/main4.jpg')}}" alt=""></div>
            </div>
        </div>
    </div>
</section>
<section id="newArr">
    <div class="container-ow">
        <div class="row-ow">
            <div class="col-ow-12">
                <div class="newArr_head flex flex-dir-column align-items-center">
                    <h1>New Arrivals</h1>
                    <h3>Just in now</h3>
                </div>
            </div>
        </div>
        <div class="row-ow flex ">
            <div class="col-ow-6 flex flex-dir-column flex-wrap">
                <div class="row-ow flex">
                    <div class="col-ow-4 m-t">
                        <div class="left-item">
                            <div class="img-frame">
                                <img src="{{url_for('static', filename='images/newarr1.jpg')}}" alt="">
                                <div class="left-overlay flex jus-con-cen align-items-center">
                                    <i class="fa fa-shopping-cart"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                            <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                                <a href="">Classic Prong Set Ring Mount </a>
                                <p>Brand:CaratLane</p>
                                <span>$199.00</span>
                                <div class="stars">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-ow-4 m-t">
                        <div class="left-item">
                            <div class="img-frame">
                                <img src="{{url_for('static', filename='images/newarr2.jpg')}}" alt="">
                                <div class="left-overlay flex jus-con-cen align-items-center">
                                    <i class="fa fa-shopping-cart"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                            <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                                <a href="">New Trendy Copper Bangle</a>
                                <p>Brand:Tradino</p>
                                <span>$50.00</span>
                                <div class="stars">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-ow-4 m-t">
                        <div class="left-item">
                            <div class="img-frame">
                                <img src="{{url_for('static', filename='images/newarr3.jpg')}}" alt="">
                                <div class="left-overlay flex jus-con-cen align-items-center">
                                    <i class="fa fa-shopping-cart"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                            <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                                <a href="">Grooved Texture Gold Bangle Set</a>
                                <p>Brand:CaratLane</p>
                                <span>$199.00</span>
                                <div class="stars">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-ow flex ">
                    <div class="col-ow-4 m-t">
                        <div class="left-item">
                            <div class="img-frame">
                                <img src="{{url_for('static', filename='images/newarr4.jpg')}}" alt="">
                                <div class="left-overlay flex jus-con-cen align-items-center">
                                    <i class="fa fa-shopping-cart"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                            <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                                <a href="">Classic Prong Set Ring Mount </a>
                                <p>Brand:CaratLane</p>
                                <span>$199.00</span>
                                <div class="stars">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-ow-4 m-t">
                        <div class="left-item">
                            <div class="img-frame">
                                <img src="{{url_for('static', filename='images/newarr5.jpg')}}" alt="">
                                <div class="left-overlay flex jus-con-cen align-items-center">
                                    <i class="fa fa-shopping-cart"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                            <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                                <a href="">Amor Solitaire Ring Mount</a>
                                <p>Brand:Crocs</p>
                                <span>$700.00</span>
                                <div class="stars">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-ow-4 m-t">
                        <div class="left-item">
                            <div class="img-frame">
                                <img src="{{url_for('static', filename='images/newarr1.jpg')}}" alt="">
                                <div class="left-overlay flex jus-con-cen align-items-center">
                                    <i class="fa fa-shopping-cart"></i>
                                    <i class="fa fa-heart"></i>
                                </div>
                            </div>
                            <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                                <a href="">Lush Ring Mount</a>
                                <p>Brand:Glamr</p>
                                <span>$620.00</span>
                                <div class="stars">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-ow-6 flex flex-dir-column">
                <div class="right-item">
                    <div class="img-frame">
                        <img src="{{url_for('static', filename='images/newarr-bigImage1.jpg')}}" alt="">
                        <div class="right-overlay">
                            <img src="{{url_for('static', filename='images/newarr-bigImage2.jpg')}}" alt="">
                        </div>
                    </div>
                    <div class="detail-left flex jus-con-betws">
                        <div class="item-detail flex flex-dir-column jus-con-cen m-t">
                            <a href="">Let Promise Solitaire Ring Mount</a>
                            <span>$700.00</span>
                            <div class="stars">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                        </div>
                        <div class="detail-right ">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-ow flex">
            <div class="col-ow-4 ">
                <div class="foot_item">
                    <div class="img-frame">
                        <img src="{{url_for('static', filename='images/newarr_ft2.jpg')}}" alt="">
                        <div class="foot_item_info flex flex-dir-column ">
                            <h3>VIVALDI ME</h3>
                            <h1>Diamond’s Haven</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                            <a href="#">SHOP NOW</a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
            <div class="col-ow-4">
                <div class="foot_item">
                    <div class="img-frame overflow ">
                        <img src="{{url_for('static', filename='images/newarr_ft1.jpg')}}" alt="">
                        <div class="foot_item_info flex flex-dir-column ">
                            <h3>VIVALDI ME</h3>
                            <h1>Diamond’s Haven</h1>
                            <a href="#">SHOP NOW</a>
                        </div>
                        <div class="overlay ">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-ow-4">
                <div class="foot_item">
                    <div class="img-frame">
                        <img src="{{url_for('static', filename='images/newarr_ft3.jpg')}}" alt="">
                        <div class="foot_item_info flex flex-dir-column ">
                            <h3>TRESS</h3>
                            <h1>Soul Searcher</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                            <a href="#">SHOP NOW</a>
                        </div>
                        <div class="overlay">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="RareCollections">
    <div class="container-ow">
        <div class="row-ow">
            <div class="col-ow-12">
                <div class="RareCollections_head flex flex-dir-column align-items-center">
                    <h1>Rare Collections</h1>
                    <h3>Carefully crafted</h3>
                </div>
            </div>
        </div>
        <div class="row-ow flex">
            <div class="col-ow-3 ">
                <div class="rare_item ">
                    <div class="img-frame m-t">
                        <img src="{{url_for('static', filename='images/rare4.jpg')}}" alt="">
                        <div class="rare_overlay flex jus-con-cen align-items-center">
                            <div class="rare_item_info ">
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                                <a href=""> <i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-ow-3 ">
                <div class="rare_item">
                    <div class="img-frame m-t">
                        <img src="{{url_for('static', filename='images/rare3.jpg')}}" alt="">
                        <div class="rare_overlay flex jus-con-cen align-items-center">
                            <div class="rare_item_info ">
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                                <a href=""> <i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-ow-3 ">
                <div class="rare_item">
                    <div class="img-frame m-t">
                        <img src="{{url_for('static', filename='images/rare2.jpg')}}" alt="">
                        <div class="rare_overlay flex jus-con-cen align-items-center">

                            <div class="rare_item_info">
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                                <a href=""> <i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-ow-3 ">
                <div class="rare_item">
                    <div class="img-frame m-t">
                        <img src="{{url_for('static', filename='images/rare1.jpg')}}" alt="">
                        <div class="rare_overlay flex jus-con-cen align-items-center">
                            <div class="rare_item_info  ">
                                <a href=""><i class="fa fa-shopping-cart"></i></a>
                                <a href=""> <i class="fa fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-ow flex">
            <div class="col-ow-3 ">
                <div class="rare_item ">
                    <div class="img-frame m-t">
                        <img src="{{url_for('static', filename='images/Pearl.jpg')}}" alt="">
                        <div class="rare_overlay">
                        </div>
                    </div>
                </div>
                <div class="rare_item_info mt-2 ml-5">
                    <h1>White Pearl's</h1>
                </div>
            </div>
            <div class="col-ow-3 ">
                <div class="rare_item ">
                    <div class="img-frame m-t">
                        <img src="{{url_for('static', filename='images/Necklaces.jpg')}}" alt="">
                        <div class="rare_overlay">
                        </div>
                    </div>
                    
                </div>
                <div class="rare_item_info mt-2 ml-5">
                    <h1>Necklaces</h1>
                </div>
            </div>
            <div class="col-ow-3 ">
                <div class="rare_item ">
                    <div class="img-frame m-t">
                        <img src="{{url_for('static', filename='images/Bangle.jpg')}}" alt="">
                        <div class="rare_overlay">
                        </div>
                        
                    </div>
                </div>
                <div class="rare_item_info mt-2 ml-5">
                    <h1>Bangle Set</h1>
                </div>
            </div>
            <div class="col-ow-3 ">
                <div class="rare_item ">
                    <div class="img-frame m-t">
                        <img src="{{url_for('static', filename='images/locket.jpg')}}" alt="">
                        <div class="rare_overlay">
                        </div>
                        
                    </div>
                </div>
                <div class="rare_item_info mt-2 ml-4">
                    <h1>Locket Designes</h1>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}