{%extends 'layout.html'%}

{%block content%}

<footer id="footer">
    <div class="container-ow">
        <div class="row-ow flex">
            <div class="col-ow-2"></div>
            <div class="col-ow-8 flex flex-dir-column jus-con-cen align-it-cen">
                <div class="footer-info ">
                    <div class="logo flex jus-con-cen m-t">
                        <img src="{{url_for('static', filename='images/logo.png')}}" alt="">
                    </div>
                    <p>Pellentesque posuere orci lobortis scelerisque blandit. Donec id tellus lacinia an, tincidunt
                        risus ac, consequat velit.
                        Quisquemos sodales suscipit tortor ditaemcos condimentum lacus.</p>
                </div>
                <div class="list_item">
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-google"></i>
                    <i class="fa fa-tumblr"></i>
                </div>
            </div>
            <div class="col-ow-2"></div>
        </div>
        <div class="row-ow">
            <div class="footer_copyright flex ">
                <div class="col-ow-4 flex align-it-cen">
                    <h1>Copyright<a href="#">Powered by Shopify</a> </h1>
                </div>
                <div class="col-ow-2"></div>
                <div class="col-ow-6 flex flex-end align-items-center">
                    <div class="payment flex ">
                        <a href=""><i class="fa fa-cc-paypal"></i></a>
                        <a href=""><i class="fa fa-cc-amex"></i></a>
                        <a href=""><i class="fa fa-cc-visa"></i></a>
                        <a href=""><i class="fa fa-google-wallet"></i></i></a>
                        <a href=""><i class="fa fa-cc-mastercard"></i></a>
                    </div>

                </div>
            </div>

        </div>
    </div>



</footer>





{%endblock content%}