{% extends 'customer/profile.html'%}
{% include 'layout.html' %}

{% block content %}
<!--Search layout-->


<section id="profil">
    
             <div class="container bg-success">
               <div class="row ">
                 <div class="col-10 offset-2 m-5 ">
                   
                   
                  <form action="/AddProduct" method="POST" class="flex" enctype="multipart/form-data">
                    <div class="col-5">
                    <div class="form-group">
                      <label for="exampleFormControlInput1" class=" m-2 text-white">PRODUCT NAME</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Product Name" name="ProductName" required>
                    </div>
                    <div class="form-group">
                       <label for="Brand">Brand</label>
                       <select name="Brand" id="Brand" class="form-control mb-3" required>
                          <option value="">Select a brand</option>
                            {% for br in brands %}
                           <option value="{{br.BrandName}} ">{{br.BrandName}}</option>
                             {% endfor %}
      
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="Cat">Category</label>
                      <select name="Cat" id="Cat" class="form-control mb-3" required>
                         <option value="">Select a Category</option>
                           {% for cat in cats %}
                          <option value="{{cat.CategoryName}}">{{cat.CategoryName}}</option>
                            {% endfor %}
     
                     </select>
                   </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1" class=" m-2 text-white">PRICE</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" required  placeholder="Price" name="Price">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1" class=" m-2 text-white">SIZE</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" required placeholder="Size" name="Size">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1 " class=" m-2 text-white">IMAGE_1</label>
                      <input type="file"  id="image_1"  name="image_1" required></input>
                    </div>
                    
                  </div>
                  <div class="col-5">
                    <div class="form-group">
                      <label for="exampleFormControlInput1" class=" m-2 text-white">COLOR</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" required placeholder="Color" name="Color">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1" class=" m-2 text-white">STOCK</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" required placeholder="Stock" name="Stock">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput1" class=" m-2 text-white">MATERIAL</label>
                      <input type="text" class="form-control" id="exampleFormControlInput1" required placeholder="Material" name="Material">
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1 " class=" m-2 text-white">EXAMPLE TEXTAREA</label>
                      <textarea class="form-control" id="exampleFormControlTextarea1" required rows="3" name="info"></textarea>
                    </div>
                    <div class="form-group">
                      <label for="exampleFormControlTextarea1 " class=" m-2 text-white">IMAGE_2</label>
                      <input type="file"  id="image_2"  name="image_2" ></input>
                    </div>
                    
                    <button type="submit" class="btn btn-warning m-2 ">ADD</button>
                  </div>
                    
                  </form>
                  <div class="col-4 mt-4"> {% include '_messages.html'%} </div>
                  
                 </div>
               </div>
             </div>
             
    
    
</section>





{% endblock content %}