{% extends 'admin.html' %}
{% include 'layout.html' %}


{% block content %}

<table class="table table-sm table-dark">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Category Name</th>
        <th scope="col">Brand Name</th>
        <th scope="col">Brand id</th>

        
      </tr>
    </thead>
    <tbody>
      {% for cat in cats %}
      <tr>
        <th scope="row">{{cat.Category_id}}</th>
        <td>{{cat.CategoryName}}</td>
        <td>{{cat.brand.BrandName}}</td>
        <td>{{cat.brand_id}}</td>
        
        <td>
        <!-- Example single danger button -->
        <div class="btn-group">
        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Action
        </button>
        <div class="dropdown-menu">
         <a class="dropdown-item" id="Update" href="/updateCategory/{{cat.Category_id}}">Update</a>
         <a class="dropdown-item" href="/deleteCat/{{cat.Category_id}}" >Delete</a>
         </div>
         </div>
        </td>
      </tr>

      {% endfor %}
      
    </tbody>
  </table>
  {% endblock content %}