{% extends 'layout.html' %}

{% block content %}
{% include 'common/header.html'%}


<div class="text-center h1 py-5  m-3 bgcolor2">Login</div>
<div class="container  d-flex ">
    <div class="col-4"> {% include '_messages.html'%} </div>
    <div class="col-4 bg-secondary ">
  {% from "_formhelpers.html" import render_field %}
  <form method="post" enctype="multipart/form-data" class="text-white pt-4  ">
    <div>
    
      {{ render_field(form.email ,class='form-control ') }}
      {{ render_field(form.password ,class='form-control ') }}
      
     
    </div>
    <p><input type=submit value="login" class="btn btn-success mb-3 ">
  </form>
</div>
<div class="col-4"></div>
</div>

{% include 'common/footer.html'%}

{% endblock content %}