.boxSz_BorBox {
    box-sizing: border-box;
}
.bgcolor{
    background-color: $main-color-darkblue;
}
.overflow{
    overflow: hidden;
}

.display_block {
    display: block;
}
.active {
    color: $main-color-gold;
    text-decoration: none;
}
.position-rel {
    position: relative;
}
.position-abs {
    position: absolute;
}

.box {
    overflow: hidden;
}
.border{
    border: 1px solid red;
}
