.box-sz-b_box{
    box-sizing: border-box;
}

.display_block{
        display: block;
 }
 .fontSize{
    font-size: 18px;
}
.letter_Spc{

    letter-spacing: 1px;
}
.active {
    color:#d2aa5c !important ;
}
.position-rel{
    position: relative;
}
.position{
    position: absolute;
}
.m-t{
    margin:10px 0;
}