.boxSz_BorBox {
    box-sizing: border-box;
}

.display_block {
    display: block;
}
.active {
    color: $main-color-gold;
}
.position-rel {
    position: relative;
}
.position-abs {
    position: absolute;
}

.box {
    overflow: hidden;
}
.border{
    border: 1px solid red;
}
