.flex {
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.flex-end{
    justify-content:flex-end;
}

.flex-dir-column {
    flex-direction: column;
}

.direction-row {
    flex-direction: row;
}

.jus-con-betws {
    justify-content: space-between;
}
.jus-con-cen{
    justify-content:center
}
.align-it-cen {
    align-items: center;
}